
@{
    ViewData["Title"] = "CustomerService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="jumbotron">
    <h2>Customer Service</h2>
</header>


<section>
    <article class="panel panel-default">
        <header class="panel-heading">
            <h2 class="panel-title">Life Chat Support</h2>
        </header>
        <section class="panel-body">
            <section class="row">
                <figure class="col-sm-6">
                    <img src="~/images/live_chat_support.png" alt="Chat with our team!" title="Chat with our team!" />
                </figure>
                <section class="col-sm-6">
                    <p class="lead">Need help? We are just one click away!</p>
                    <p class="lead">Count with immediate and effective support directly from our teams.</p>
                    <a href="http://www.asp.net" class="btn btn-primary btn-lg">Start Chat &raquo;</a>
                </section>
            </section>
        </section>
    </article>
</section>