@model SofTechCore21MVC.Models.CustomerViewModel

<header class="jumbotron">
    <h2>My Details</h2>
</header>

<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Customer.FullName()</h3>
            </div>
            <div class="panel-body">
                <partial name="_CustomerDetails" model="Model.Customer" />
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Address.PostCode</h3>
            </div>
            <div class="panel-body">
                <partial name="_AddressDetails" model="Model.Address" />
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.PaymentCard.CardName</h3>
            </div>
            <div class="panel-body">
                <partial name="_PaymentCard" model="Model.PaymentCard" />
            </div>
        </div>
    </div>
</div>
