@model SofTechCore21MVC.Models.PaymentCard

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<header class="jumbotron">
    <h2>Create New Payment Card</h2>
</header>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="CardType" class="control-label">Card Type</label>
                    <select asp-for="CardType" asp-items="Html.GetEnumSelectList<CardType>()" class="form-control"></select>
                    <span asp-validation-for="CardType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CardName" class="control-label">Card Name</label>
                    <input asp-for="CardName" class="form-control" />
                    <span asp-validation-for="CardName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CardNumber" class="control-label">Card Number</label>
                    <input asp-for="CardNumber" class="form-control" />
                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpiryMonth" class="control-label">Expiry Month</label>
                    <input asp-for="ExpiryMonth" class="form-control" />
                    <span asp-validation-for="ExpiryMonth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpiryYear" class="control-label">Expiry Year</label>
                    <input asp-for="ExpiryYear" class="form-control" />
                    <span asp-validation-for="ExpiryYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecurityNumber" class="control-label">Security Number</label>
                    <input asp-for="SecurityNumber" class="form-control" />
                    <span asp-validation-for="SecurityNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                    <a class="btn btn-info" asp-action="Index">Go Back</a>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
