<section class="container body-content">
    <asp:ContentPlaceHolder ID="MainContent" runat="server">
    </asp:ContentPlaceHolder>
    <hr />
    <footer style="background-color:silver" class="row">
        <section class="col-lg-3"><br />
            <strong>Contact Us</strong><br /><br />
            <p>Email: student@clothes.co.uk</p>
            <address>
                20 Oak Road, Canary Wharf, London, E14 5NR
                <abbr title="Phone">P:</abbr>
                020 3865 1787
            </address>
        </section>
        <section class="col-lg-3"><br />
            <strong>Shop</strong><br /><br />
            <p>
                <a runat="server" href="~/Home/Women">Women</a><br />
                <a runat="server" href="~/Home/Men">Men</a><br />
                <a runat="server" href="~/Home/Accessories">Accessories</a><br />
            </p>
        </section>
        <section class="col-lg-3"><br />
            <strong>Enquiries</strong><br /><br />
            <a runat="server" href="~/Home/CustomerService">Customer Service</a><br />
            <a runat="server" href="~/Home/Privacy">Privacy</a><br />
        </section>
        <section class="col-lg-3"><br />
            <strong>Directions</strong><br /><br />
            <div class="mapouter"><div class="gmap_canvas"><iframe width="260" height="120" id="gmap_canvas" src="https://maps.google.com/maps?q=20%20Old%20Oak%20Road%2C%20London&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div>
                <style>
                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 120px;
                        width: 260px;
                    }

                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 120px;
                        width: 260px;
                    }
                </style>
            </div>
        </section>
        <section>
            <p class="text-center">
                &copy; 2019 - SofTechCore21MVC <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-semantics.png" width="43" height="15" alt="HTML5 Powered with CSS3 / Styling, and Semantics" title="HTML5 Powered with CSS3 / Styling, and Semantics">
            </p>
            <p class="text-center">
                <a href="/Customers/Index">Staff Portal</a>
            </p>
            <p class="text-center">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
            </p>
        </section>
    </footer>
</section>